.DS_Store

.well-known/
node_modules/

vendor
composer.lock
package-lock.json

# IDE Files
#-------------------------
/nbproject/
.idea/*
.buildpath
.project
.settings/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## vi swp files
*.swp
tags

